.box-login {
  flex-direction: column;
}
.title {
  width: 70vw;
}
.title-login{
    display: none;
}
.form-login {
  width: 70vw;
  height: 40vh;
  box-shadow: var(--shadow-blue);
  border-radius: 20px;
  margin: 5% 0;
  flex-direction: column;
  padding: 0 5%;
}
label {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  margin-bottom: 20px;
}
input {
  height: 30px;
  box-shadow: var(--shadow);
  border: var(--border-input);
  border-radius: 10px;
  margin: 8px 0;
  padding: 0 5%;
  font-size: 1.3rem;
}
.link-signin,
.link-signin a {
  font-size: 1.3rem;
  margin-top: 8%;
}
.link-signin a {
  color: var(--c-blue);
  text-decoration: none;
}
.link-signin a:hover {
  color: var(--c-orange);
}

@media only screen and (min-width: 768px) {
  .title {
    width: 50vw;
  }
  .form-login {
    width: 50vw;
    margin: 5% 0;
  }
  .login-img {
    max-height: 40vh;
    margin: 0;
  }
  input {
    height: 35px;
  }
}

@media only screen and (min-width: 992px) {
  .hidd {
    display: none;
  }
  .box-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 10%;
  }
  .title-login {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-bottom: 15%;
  }

  .form-login {
    width: 30vw;
    height: 60vh;
  }

  .login-img {
    width: 30vw;
  }
}
