.box-account {
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
}
.user-image {
  position: absolute;
  top: 55px;
  right: 40px;
  z-index: 9;
  width: fit-content;
  filter: drop-shadow 0px 2px 4px rgba(0, 0, 0, 0.2);
  animation: levitate 2s infinite alternate;
  transition: transform 0.4s ease-in-out;
}
@keyframes levitate {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, -15px);
    }
  }
.div-extra {
  display: none;
}
.title {
  width: 70vw;
}
.btn-grey {
  width: 70vw;
  height: 35px;
  border: var(--border-g);
  border-radius: 20px;
  box-shadow: var(--shadow);
  justify-content: space-around;
  padding: 0 2%;
  margin-top: 3%;
}
.btn-grey p,
span {
  font-size: 1.5rem;
}
.btn-grey span {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
}
.box-balance {
  width: 70vw;
  height: 15vh;
  flex-direction: column;
  margin: 15% 0;
}
.box-balance h2,
.box-balance span {
  font-family: "Philosopher", sans-serif;
  font-size: 3.2rem;
  letter-spacing: 1.2px;
}
.box-balance span {
  color: var(--text-grey);
}
.btn-trans {
  width: 35vw;
  height: 30px;
  justify-content: space-evenly;
  margin-top: 5%;
  border: var(--border-g);
  border-radius: 20px;
  box-shadow: var(--shadow);
  background-color: var(--c-white);
  font-size: 1rem;
  color: var(--text-grey);
}
.btn-trans:hover {
  background-color: var(--bg-logo);
  color: var(--c-blue);
  font-weight: 600;
}
.box-cards {
  position: relative;
  width: 70vw;
  height: 30vh;
  margin-top: 3%;
}

.box-cards img {
  max-width: 50vw;
}

.box-cards .card-b {
  position: absolute;
  top: 12%;
  left: 5%;
}

.box-cards .card-o {
  position: absolute;
  top: 28%;
  left: 23%;
}
.card-b:hover,
.card-o:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
@media only screen and (min-width: 400px) {
  .box-cards {
    width: 70vw;
    height: 25vh;
    margin-top: 10%;
  }

  .user-image {
    top: 120px;
    right: 40px;
    width: 70px;
    height: 70px;
  }
}
@media only screen and (min-width: 768px) {
  .btn-grey {
    width: 35vw;
  }

  .user-image {
    top: 120px;
    right: 120px;
    width: 120px;
    height: 120px;
  }
  .box-balance {
    width: 70vw;
    margin: 8% 0;
  }
  .box-balance .btn-trans {
    width: 20vw;
    height: 35px;
    margin: 5% 0;
  }
  .box-cards {
    width: 65vw;
    height: 32vh;
    margin-top: 5%;
  }
  .box-cards .card-b {
    top: 8%;
    left: 5%;
  }
  .box-cards .card-o {
    top: 20%;
    left: 25%;
  }
}
@media only screen and (min-width: 992px) {
  .box-account {
    flex-direction: row;
    max-width: 100vw;
    padding: 5%;
    justify-content: center;
  }

  .user-image {
    top: 120px;
    left: 230px;
    width: 160px;
    height: 160px;
  }
  .box1,
  .box2 {
    width: 30vw;
  }
  .box1 {
    margin-right: 60px;
  }
  .btn-grey {
    height: 50px;
    width: 30vw;
    margin-top: 1%;
  }
  .box-balance {
    width: 30vw;
    height: 15vh;
    margin: 10% 0;
    padding: 0 8%;
  }
  .box-balance .btn-trans {
    width: 200px;
    font-size: 1.3rem;
  }
  .box-cards {
    width: 122%;
    height: 37vh;
    margin-top: 10%;
  }
  .box-cards .card-o {
    top: 22%;
    left: 28%;
  }
}
