<div class="bg">
<img src="../../assets/icon/currency-dollar.png" alt="dollar icon" class="A">
<img src="../../assets/icon/currency-euro.png" alt="euro icon" class="B">
<img src="../../assets/icon/currency-yen.png" alt="yen icon" class="C">
<img src="../../assets/icon/currency-pound.png" alt="pound icon" class="D">
<img src="../../assets/icon/currency-dollar.png" alt="dollar icon" class="E">
<img src="../../assets/icon/currency-euro.png" alt="euro icon" class="F">
<img src="../../assets/icon/currency-yen.png" alt="yen icon" class="G">
<img src="../../assets/icon/currency-pound.png" alt="pound icon" class="H">
</div>
<div class="box-home box-ct box">
  <div class="logo">
    <h6>Innovating Virtual Banking</h6>
    <h2>Welcome</h2>
    <h1>Neo Bank</h1>
  </div>

  <img
    src="../../assets/png/home.png"
    alt="Logo bank virtual"
    class="home-img imgAnimation"
  />
  <div class="oval box-ct" routerLink="/login">
    <button class="login-btn box-ct btn" >
      <i class="fa-solid fa-arrow-right-to-bracket" style="color: #e7ecf3"></i>
    </button>
  </div>
</div>
